$primary-color: #e92012;
$secondary-color: #ce1104;
$item-color: #e0e0e0;

$font-main: 'Roboto', sans-serif;
$font-weight: 600;

$border-radius: 8px;
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;



$page-max-width: 1250px;
$page-padding-x: 20px;
$page-padding-top: 28px;
$page-padding-bottom: 70px;

$radius-sm: 9px;
$radius-md: 12px;
$radius-lg: 16px;