.modal {
    .modal-content {
      
    }
    .modal-header {
      
    }
    .modal-body {
      
    }
    .modal-footer {
      
    }

    // estilos para que el fondo quede oscuro
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1050;
  
  
  .modal-content {
     background-color: transparent;
    border-radius: 0.7rem;
    // padding: 1rem;
    position: relative;
    width: 100%;
    max-width: 100%;
    
  }
  
  .modal-sm {
    max-width: 400px;
  }
  
  .modal-md {
    max-width: 500px;
  }
  
  .modal-lg {
    max-width: 800px;
  }
  
  .modal-xl {
    max-width: 1000px;
  }
  
  .clickable-backdrop {
    cursor: pointer;
  }

}


  