@if (isOpen) {
<div class="modal-backdrop" (click)="onBackdropClick()">
  <div class="modal-content" #modalContent tabindex="-1" [ngClass]="sizeClass" (click)="$event.stopPropagation()">
    @if (includeHeader) {
      <div class="modal-header">
        @if (title) {
          <h2 class="modal-title">{{ title }}</h2>
        }
        <button type="button" class="modal-close-btn" aria-label="Cerrar" (click)="close()">
          <i class="bi bi-x-lg"></i>
        </button>
      </div>
    }

    <div class="modal-body">
      <ng-content></ng-content>
    </div>

    @if (showFooter) {
      <div class="modal-footer">
        @if (cancelText) {
          <app-button [text]="cancelText" [class]="classCancelBtn" [type]="'button'" (clickEventButton)="close()"></app-button>
        }
        @if (confirmText) {
          <app-button
            [text]="confirmLabel"
            [icon]="confirmLoading ? 'bi bi-arrow-clockwise' : ''"
            [class]="classConfirmBtn"
            [type]="'button'"
            [disabled]="confirmDisabled || confirmLoading"
            (clickEventButton)="confirm()"
          ></app-button>
        }
      </div>
    }
  </div>
</div>
}