<div class="input-wrapper">

  <!-- Contenedor principal -->
  <div class="input-custom-style"
    [class.has-value]="control?.value || ngModelValue"
    [class.has-icon-left]="srcImgLeft"
    [class.has-icon-right]="srcImgRight || showEyeIcon"
  >

    <!-- Icono izquierdo -->
    @if (srcImgLeft) {
      <span class="input-icon-left">
        <img
          [src]="srcImgLeft"
          alt=""
        />
      </span>
    }

    <!-- Contenido (label + input) -->
    <div class="input-content">

      <!-- Label interno (floating label) -->
      @if (textLabel) {
        <label class="form-label">
          {{ textLabel.replace('*', '').trim() }}
          @if (textLabel.includes('*')) {
            <span class="required-mark">*</span>
          }
        </label>
      }

      <!-- Reactive Form -->
      @if (control) {
        @if (isTextArea) {
          <textarea
            class="input-custom input-textarea"
            [placeholder]="hasLabel ? '' : placeholder"
            [formControl]="control"
          ></textarea>
        }@else {
          <input
            class="input-custom"
            [type]="showPassword ? 'text' : type"
            [placeholder]="hasLabel ? '' : placeholder"
            [formControl]="control"
            [class.space-icon]="showEyeIcon"
          />
        }
      }
      <!-- Template-driven -->
      @else {
        <input
          class="input-custom"
          [type]="showPassword ? 'text' : type"
          [placeholder]="hasLabel ? '' : placeholder"
          [(ngModel)]="ngModelValue"
          [class.space-icon]="showEyeIcon"
        />
      }
    </div>

    <!-- Icono ojo -->
    @if (showEyeIcon) {
      <div class="eye-icon" (click)="togglePasswordVisibility()">
        <img
          [src]="showPassword
            ? iconeye
            : iconEyeSlash"
          alt="toggle password"
        />
      </div>
    }

    <!-- Icono derecho -->
    @if (srcImgRight) {
      <span class="input-icon-right">
        <img
          [src]="srcImgRight"
          alt=""
        />
      </span>
    }

  </div>

  <!-- Mensajes de error -->
  @if (controlInvalid && filteredMessages.length) {
    <div class="error-container">
      @for (validation of filteredMessages; track validation.type) {
        @if (hasError(validation.type)) {
          <small class="text-danger">
            {{ validation.message }}
          </small>
        }
      }
    </div>
  }
</div>